.enterVehicle {
	background-color: lightgreen;
	width: 50%;
	padding: 2% 3% 3% 9%;
	height: 40%;
}

.h1, h1 {
	font-size: 25px;
}

p {
	color: black;
	font-family: courier;
	font-size: 200%;
}

.deleteMe {
	float: left;
	background: red;
}

.button {
	padding: 10px;
	display: inline;
	border-radius: 2px;
	font-family: "Arial";
	border: 0;
	margin: 0 10px;
	background: #3d90bf;
	font-size: 15px;
	line-height: 15px;
	color: white;
	width: auto;
	height: auto;
	box-sizing: content-box;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dataProcessing {
	background-image: url('/resource/images/dataProcessing.gif');
	width:30px;
	height:30px
}
.dataPreparing {
	background-image: url('/resource/images/dataPreparing.gif');
	width:25px;
	height:25px
}
